// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ5332 AP-MI03.1 board device tree source
 *
 * Copyright (c) 2020-2021 The Linux Foundation. All rights reserved.
 * Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
 */

/dts-v1/;

#include "ipq5332.dtsi"
#include "ipq5332-memory.dtsi"

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	model = "Qualcomm Technologies, Inc. IPQ5332/AP-MI03.1";
	compatible = "qcom,ipq5332-ap-mi03.1", "qcom,ipq5332";
	interrupt-parent = <&intc>;

	aliases {
		serial0 = &blsp1_uart0;
	};

	chosen {
		stdout-path = "serial0";
		bootargs-append = " clk_ignore_unused";
	};

	soc {
		pinctrl@1000000 {
			spi_0_pins: spi0-pinmux {
				spi_clock {
					pins = "gpio14";
					function = "blsp0_spi";
					drive-strength = <2>;
					bias-pull-down;
				};

				spi_mosi {
					pins = "gpio15";
					function = "blsp0_spi";
					drive-strength = <2>;
					bias-pull-down;
				};

				spi_miso {
					pins = "gpio16";
					function = "blsp0_spi";
					drive-strength = <2>;
					bias-pull-down;
				};

				spi_cs {
					pins = "gpio17";
					function = "blsp0_spi";
					drive-strength = <2>;
					bias-pull-up;
				};
			};

			serial_0_pins: serial0-pinmux {
				pins = "gpio18", "gpio19";
				function = "blsp0_uart0";
				drive-strength = <8>;
				bias-pull-up;
			};

			mdio1_pins: mdio_pinmux {
				mux_0 {
					pins = "gpio27";
					function = "mdc1";
					drive-strength = <2>;
					bias-pull-up;
				};
				mux_1 {
					pins = "gpio28";
					function = "mdio1";
					drive-strength = <2>;
					bias-pull-up;
				};
			};
		};

		mdio:mdio@90000 {
			status = "ok";
			pinctrl-0 = <&mdio1_pins>;
			pinctrl-names = "default";
			/*gpio31 for 8033 reset, gpio22 for s17c reset*/
			phy-reset-gpio = <&tlmm 31 0 &tlmm 22 0>;
			phy0: ethernet-phy@0 {
				reg = <5>;
			};
		};

		ess-instance {
			num_devices = <0x2>;
			ess-switch@3a000000 {
				switch_cpu_bmp = <0x1>;  /* cpu port bitmap */
				switch_lan_bmp = <0x2>; /* lan port bitmap */
				switch_wan_bmp = <0x4>; /* wan port bitmap */
				switch_mac_mode = <0xf>; /* mac mode for uniphy instance0*/
				switch_mac_mode1 = <0xf>; /* mac mode for uniphy instance1*/
				switch_mac_mode2 = <0xff>; /* mac mode for uniphy instance2*/
				qcom,port_phyinfo {
					port@0 {
						port_id = <1>;
						forced-speed = <1000>;
						forced-duplex = <1>;
					};
					port@1 {
						port_id = <2>;
						phy_address = <5>;
						mdiobus = <&mdio>;
					};
				};
			};

			ess-switch1@1 {
				compatible = "qcom,ess-switch-qca83xx";
				device_id = <1>;
				switch_access_mode = "mdio";
				mdio-bus = <&mdio>;
				reset_gpio = <&tlmm 22 0>;
				switch_cpu_bmp = <0x1>;  /* cpu port bitmap */
				switch_lan_bmp = <0x38>; /* lan port bitmap */
				switch_wan_bmp = <0x0>;  /* wan port bitmap */
				link-polling-required = <0>;
				link-intr-gpio = <&tlmm 24 0>;
				qca,ar8327-initvals = <
						0x00004 0x80        /* PAD0_MODE */
						0x00008 0           /* PAD5_MODE */
						0x0000c 0           /* PAD6_MODE */
						0x00010 0x2613a0    /* PORT0 FORCE MODE*/
						0x000e4 0xaa545     /* MAC_POWER_SEL */
						0x000e0 0xc74164de  /* SGMII_CTRL */
						0x0007c 0x4e        /* PORT0_STATUS */
						0x00094 0           /* PORT6_STATUS */
				>;
				qcom,port_phyinfo {
					port@3 {
						port_id = <3>;
						phy_address = <2>;
					};
					port@4 {
						port_id = <4>;
						phy_address = <3>;
					};
					port@5 {
						port_id = <5>;
						phy_address = <4>;
					};
				};
			};
		};

		serial@78af000 {
			pinctrl-0 = <&serial_0_pins>;
			pinctrl-names = "default";
			status = "ok";
		};

		spi@78b5000 {
			pinctrl-0 = <&spi_0_pins>;
			pinctrl-names = "default";
			cs-select = <0>;
			status = "ok";

			m25p80@0 {
				compatible = "n25q128a11";
				#address-cells = <1>;
				#size-cells = <1>;
				reg = <0>;
				spi-max-frequency = <50000000>;
			};
		};

		q6v5_wcss: remoteproc@d100000 {
			memory-region = <&q6_region>;
		};

		/delete-node/ tmc@4048000;
		/delete-node/ replicator@4046000;
		/delete-node/ etf@4047000;
		/delete-node/ funnel@4045000;
		/delete-node/ funnel@4041000;
		/delete-node/ funnel@4042000;
		/delete-node/ stm@4002000;
		/delete-node/ funnel@50a1000;
		/delete-node/ etm@509c000;
		/delete-node/ etm@509d000;
		/delete-node/ etm@509e000;
		/delete-node/ etm@509f000;
	};
};

&wifi0 {
	qcom,rproc = <&q6_wcss_pd1>;
	qcom,multipd_arch;
	qcom,userpd-subsys-name = "q6v5_wcss_userpd1";
	mem-region = <&q6_region>;
	qcom,board_id = <0x11>;
	status = "ok";
};
