// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ5332 AP-MI01.2 board device tree source
 *
 * Copyright (c) 2020-2021 The Linux Foundation. All rights reserved.
 * Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
 */

/dts-v1/;

#include "ipq5332.dtsi"

#ifdef __IPQ_MEM_PROFILE_512_MB__
#include "ipq5332-512MB-memory.dtsi"
#else
#include "ipq5332-default-memory.dtsi"
#endif

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	model = "Qualcomm Technologies, Inc. IPQ5332/AP-MI01.2";
	compatible = "qcom,ipq5332-ap-mi01.2", "qcom,ipq5332";
	interrupt-parent = <&intc>;

	aliases {
		serial0 = &blsp1_uart0;
	};

	chosen {
		linux,initrd-end = <0x57000000>;
		linux,initrd-start = <0x55000000>;
		bootargs = "root=/dev/ram0 rw init=/init";
		stdout-path = "serial0";
		bootargs-append = " clk_ignore_unused";
	};

	soc {
		pinctrl@1000000 {
			serial_0_pins: serial0-pinmux {
				pins = "gpio18", "gpio19";
				function = "blsp0_uart0";
				drive-strength = <8>;
				bias-pull-up;
			};

			i2c_1_pins: i2c-1-pinmux {
				pins = "gpio29", "gpio30";
				function = "blsp1_i2c0";
				drive-strength = <8>;
				bias-pull-up;
			};

			leds_pins: leds_pinmux {
				led0_2g {
					pins = "gpio36";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-down;
				};
			};

			mdio0_pins: mdio_pinmux {
				mux_0 {
					pins = "gpio25";
					function = "mdc0";
					drive-strength = <8>;
					bias-disable;
				};
				mux_1 {
					pins = "gpio26";
					function = "mdio0";
					drive-strength = <8>;
					bias-pull-up;
				};
			};

			mdio1_pins: mdio_pinmux {
				mux_0 {
					pins = "gpio27";
					function = "mdc1";
					drive-strength = <8>;
					bias-disable;
				};
				mux_1 {
					pins = "gpio28";
					function = "mdio1";
					drive-strength = <8>;
					bias-pull-up;
				};
			};

			sfp_pins: sfp_pinmux {
				sfp_rx {
					pins = "gpio45";
					function = "rx1";
					bias-disable;
				};
				sfp_tx {
					pins = "gpio24";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-down;
					output-low;
				};
			};
		};

		mdio:mdio@90000 {
			status = "ok";
			pinctrl-0 = <&mdio1_pins &mdio0_pins>;
			pinctrl-names = "default";
			/*gpio51 for manhattan reset*/
			phy-reset-gpio = <&tlmm 51 0>;
			phyaddr_fixup = <0xC90F018>;
			uniphyaddr_fixup = <0xC90F014>;
			mdio_clk_fixup; /* MDIO clock sequence fix up flag */

			phy0: ethernet-phy@0 {
				reg = <1>;
				fixup;
			};
			phy1: ethernet-phy@1 {
				reg = <2>;
				fixup;
			};
			phy2: ethernet-phy@2 {
				reg = <3>;
				fixup;
			};
			phy3: ethernet-phy@3 {
				reg = <4>;
				fixup;
			};
		};

		ess-instance {
			num_devices = <0x2>;
			ess-switch@3a000000 {
				pinctrl-0 = <&sfp_pins>;
				pinctrl-names = "default";
				switch_cpu_bmp = <0x1>;  /* cpu port bitmap */
				switch_lan_bmp = <0x2>; /* lan port bitmap */
				switch_wan_bmp = <0x4>; /* wan port bitmap */
				switch_mac_mode = <0xc>; /* mac mode for uniphy instance0*/
				switch_mac_mode1 = <0xe>; /* mac mode for uniphy instance1*/
				switch_mac_mode2 = <0xff>; /* mac mode for uniphy instance2*/
				qcom,port_phyinfo {
					port@0 {
						port_id = <1>;
						forced-speed = <2500>;
						forced-duplex = <1>;
					};
					port@1 {
						port_id = <2>;
						phy_address = <30>;
						media-type = "sfp"; /* fiber mode */
						sfp_rx_los_pin = <&tlmm 45 0>;
						sfp_tx_dis_pin = <&tlmm 24 0>;
					};
				};
			};

			ess-switch1@0xc000000 {
				compatible = "qcom,ess-switch-qca8386";
				device_id = <1>;
				switch_access_mode = "mdio";
				mdio-bus = <&mdio>;
				switch_mac_mode = <0xc>; /* mac mode for uniphy instance0 */
				switch_mac_mode1 = <0xff>; /* mac mode1 for uniphy instance1 */
				switch_cpu_bmp = <0x1>;  /* cpu port bitmap */
				switch_lan_bmp = <0x1e>; /* lan port bitmap */
				switch_wan_bmp = <0x0>;  /* wan port bitmap */
				//link-polling-required = <0>;
				//link-intr-gpio = <&tlmm 23 0>;
				qcom,port_phyinfo {
					port@0 {
						port_id = <0>;
						forced-speed = <2500>;
						forced-duplex = <1>;
					};
					port@1 {
						port_id = <1>;
						phy_address = <1>;
					};
					port@2 {
						port_id = <2>;
						phy_address = <2>;
					};
					port@3 {
						port_id = <3>;
						phy_address = <3>;
					};
					port@4 {
						port_id = <4>;
						phy_address = <4>;
					};
				};
			};
		};

		eud@78000 {
			status = "ok";
		};

		serial@78af000 {
			pinctrl-0 = <&serial_0_pins>;
			pinctrl-names = "default";
			status = "ok";
		};

		i2c_1: i2c@78b6000 {
			status = "ok";
			pinctrl-0 = <&i2c_1_pins>;
			pinctrl-names = "default";
		};

		dma@7984000 {
			status = "ok";
		};

		nand@79b0000 {
			pinctrl-0 = <&qspi_nand_pins>;
			pinctrl-names = "default";
			status = "ok";
		};

		usb3@8A00000 {
			status = "ok";
			qcom,select-utmi-as-pipe-clk;
			dwc3@8A00000 {
				/delete-property/ #phy-cells;
				/delete-property/ phys;
				/delete-property/ phy-names;
			};
		};

		hs_m31phy@7b000 {
			status = "ok";
		};

		leds {
			compatible = "gpio-leds";
			pinctrl-0 = <&leds_pins>;
			pinctrl-names = "default";
			led@36 {
				label = "led0_2g";
				gpios = <&tlmm 36 GPIO_ACTIVE_HIGH>;
				linux,default-trigger = "led_2g";
				default-state = "off";
			};
		};

		phy@4b0000 {
			status = "ok";
		};

		phy_x2@4b1000 {
			status = "ok";
		};

		pcie@18000000 {
			perst-gpio = <&tlmm 47 GPIO_ACTIVE_LOW>;
			status = "ok";
			pcie1_rp {
				reg = <0 0 0 0 0>;

				qcom,mhi@1 {
					reg = <0 0 0 0 0>;
					qrtr_node_id = <0x31>;
					memory-region = <0>, <&mhi_region0>;
				};
			};
		};

		pcie@20000000 {
			perst-gpio = <&tlmm 38 GPIO_ACTIVE_LOW>;
			status = "ok";
			pcie0_rp {
				reg = <0 0 0 0 0>;

				qcom,mhi@2 {
					reg = <0 0 0 0 0>;
					qrtr_node_id = <0x32>;
					memory-region = <0>, <&mhi_region1>;
				};
			};
		};
	};
};

&wifi0 {
	qcom,rproc = <&q6_wcss_pd1>;
	qcom,multipd_arch;
	qcom,userpd-subsys-name = "q6v5_wcss_userpd1";
	mem-region = <&q6_region>;
	status = "ok";
};

&qcn9224_pcie0 {
	status = "ok";
};

&qcn9224_pcie1 {
	status = "ok";
};

&mhi_region0 {
	status = "ok";
};

&mhi_region1 {
	status = "ok";
};
