// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ5332 AP-MI01.4 board device tree source
 *
 * Copyright (c) 2020-2021 The Linux Foundation. All rights reserved.
 * Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
 */

/dts-v1/;

#include "ipq5332.dtsi"

#ifdef __IPQ_MEM_PROFILE_512_MB__
#include "ipq5332-512MB-memory.dtsi"
#else
#include "ipq5332-default-memory.dtsi"
#endif

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	model = "Qualcomm Technologies, Inc. IPQ5332/AP-MI01.4";
	compatible = "qcom,ipq5332-ap-mi01.4", "qcom,ipq5332";
	interrupt-parent = <&intc>;

	aliases {
		serial0 = &blsp1_uart0;
	};

	chosen {
		linux,initrd-end = <0x57000000>;
		linux,initrd-start = <0x55000000>;
		bootargs = "root=/dev/ram0 rw init=/init";
		stdout-path = "serial0";
		bootargs-append = " clk_ignore_unused";
	};

	cpus {
		CPU0: cpu@0 {
			/delete-property/ clocks;
			/delete-property/ clock-latency;
			/delete-property/ operating-points-v2;
		};

		CPU1: cpu@1 {
			/delete-property/ clocks;
			/delete-property/ clock-latency;
			/delete-property/ operating-points-v2;
		};

		CPU2: cpu@2 {
			/delete-property/ clocks;
			/delete-property/ clock-latency;
			/delete-property/ operating-points-v2;
		};

		CPU3: cpu@3 {
			/delete-property/ clocks;
			/delete-property/ clock-latency;
			/delete-property/ operating-points-v2;
		};

		/delete-node/ cpu_opp_table;
	};

	/*
	 * Below nodes are applicable for all RDPs, hence enabled by
	 * default in base dtsi file itself.
	 * So, rather than marking these nodes with status = "disabled",
	 * delete it. Once verified in silicon, we can remove the below
	 * snippet.
	 */

	/* Below nodes are QSEE dependent */
	/delete-node/ firmware;
	/delete-node/ qti,tzlog;
	/delete-node/ qti,scm_restart_reason;
	/delete-node/ ctx-save;
	/delete-node/ qseecom;

	/* Misc nodes */
	/delete-node/ pmu;
	/delete-node/ pmu-v7;
	/delete-node/ qti,sps;
	/delete-node/ qti,gadget_diag@0;

	soc {

		/*
		 * Below nodes are applicable for all RDPs, hence enabled by
		 * default in base dtsi file itself.
		 * So, rather than marking these nodes with status = "disabled",
		 * delete it. Once verified in silicon, we can remove the below
		 * snippet.
		 */

		/* Misc nodes */
		/delete-node/ prng@e3000;
		/delete-node/ watchdog@b017000;
		/delete-node/ qcom,msm-imem@8600000;

		/* APSS clock node */
		/delete-node/ qcom,apss_clk@b111000;

		/delete-node/ syscon@193d100;
		/delete-node/ syscon@1905000;
		/delete-node/ hwlock;
		/delete-node/ smem;
		/delete-node/ scm;

		/* QDSS & DCC nodes */
		/delete-node/ dcc_v2@797f000;
		/delete-node/ csr@4001000;
		/delete-node/ stm@4002000;
		/delete-node/ funnel@4041000;
		/delete-node/ funnel@4042000;
		/delete-node/ funnel@4045000;
		/delete-node/ replicator@4046000;
		/delete-node/ etf@4047000;
		/delete-node/ tmc@4048000;
		/delete-node/ cti@5098000;
		/delete-node/ etm@509c000;
		/delete-node/ cti@5099000;
		/delete-node/ etm@509d000;
		/delete-node/ cti@509a000;
		/delete-node/ etm@509e000;
		/delete-node/ cti@509b000;
		/delete-node/ etm@509f000;
		/delete-node/ funnel@50a1000;

		/*
		 * Below nodes are referenced by other nodes, deleting it
		 * will lead to build error, so disable it.
		 */
		mailbox@b111000 {
			status = "disabled";
		};
		wcss-smp2p {
			status = "disabled";
		};
		syscon@1945000 {
			status = "disabled";
		};
		remoteproc@d100000 {
			status = "disabled";
		};
		dma@7884000 {
			status = "disabled";
		};

		/* Not needed for the initial bringup */
		ess-instance {
			status = "disabled";
		};

		pinctrl@1000000 {
			emmc_pins: emmc_pins {
				emmc_clk {
					pins = "gpio13";
					function = "sdc_clk";
					drive-strength = <8>;
					bias-pull-down;
				};
				emmc_cmd {
					pins = "gpio12";
					function = "sdc_cmd";
					drive-strength = <8>;
					bias-pull-up;
				};
				emmc_data {
					pins = "gpio8", "gpio9", "gpio10",
						"gpio11";
					function = "sdc_data";
					drive-strength = <8>;
					bias-pull-down;
				};
			};

			qspi_nand_pins: qspi_nand_pins {
				qspi_clock {
					pins = "gpio13";
					function = "qspi_clk";
					drive-strength = <8>;
					bias-pull-down;
				};

				qspi_cs {
					pins = "gpio12";
					function = "qspi_cs";
					drive-strength = <8>;
					bias-pull-up;
				};

				qspi_data {
					pins = "gpio8", "gpio9", "gpio10", "gpio11";
					function = "qspi_data";
					drive-strength = <8>;
					bias-pull-down;
				};
			};

			serial_0_pins: serial0-pinmux {
				pins = "gpio18", "gpio19";
				function = "blsp0_uart0";
				drive-strength = <8>;
				bias-pull-up;
			};

			i2c_1_pins: i2c-1-pinmux {
				pins = "gpio29", "gpio30";
				function = "blsp1_i2c0";
				drive-strength = <8>;
				bias-pull-up;
			};

			leds_pins: leds_pinmux {
				led0_2g {
					pins = "gpio36";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-down;
				};
			};
		};

		gcc@1800000 {
			gcc-use-dummy;
		};

		nsscc@39b00000 {
			nsscc-use-dummy;
		};

		serial@78af000 {
			pinctrl-0 = <&serial_0_pins>;
			pinctrl-names = "default";
			status = "ok";
		};

		i2c@78b6000 {
			pinctrl-0 = <&i2c_1_pins>;
			pinctrl-names = "default";
		};

		dma@7984000 {
			status = "disabled";
		};

		nand@79b0000 {
			pinctrl-0 = <&qspi_nand_pins>;
			pinctrl-names = "default";
			status = "disabled";
		};

		usb3@8A00000 {
			status = "disabled";

			dwc3@8A00000 {
				/delete-property/ #phy-cells;
				/delete-property/ phys;
				/delete-property/ phy-names;
			};
		};

		hs_m31phy@7b000 {
			status = "disabled";
		};

		leds {
			compatible = "gpio-leds";
			pinctrl-0 = <&leds_pins>;
			pinctrl-names = "default";
			led@36 {
				label = "led0_2g";
				gpios = <&tlmm 36 GPIO_ACTIVE_HIGH>;
				linux,default-trigger = "led_2g";
				default-state = "off";
			};
		};

		phy_x2@4b1000 {
			status = "ok";
		};

		pcie@18000000 {
			perst-gpio = <&tlmm 47 GPIO_ACTIVE_LOW>;
			status = "ok";
			pcie1_rp {
				reg = <0 0 0 0 0>;

				qcom,mhi@1 {
					reg = <0 0 0 0 0>;
					qrtr_node_id = <0x31>;
					memory-region = <0>, <&mhi_region0>;
				};
			};
		};
	};
};

&wifi0 {
	qcom,rproc = <&q6_wcss_pd1>;
	qcom,multipd_arch;
	qcom,userpd-subsys-name = "q6v5_wcss_userpd1";
	mem-region = <&q6_region>;
	status = "ok";
};

&qcn9224_pcie0 {
	status = "ok";
};

&mhi_region0 {
	status = "ok";
};
